*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Berkshire Swash, cursive;
}

body
{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) 70%), url("../images/footerbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
}

nav
{
    background: orangered;
    height: 70px; 
}

nav img
{
    float: left;
    line-height: 70px;
    max-width: 65px;
    /* max-height: ; */
    /* margin-left: 45px; */
}

nav ul
{
    float: right;
    margin-right: 10px;
}

nav ul li
{
    display: inline-block;
    line-height: 70px;
    margin-right: 0 5px;
}

nav ul li a
{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
}

span .itemCount
{
  font-size: 18px;
}


/*
a #logo{
    width: 100%;
    height: 100%;
}

nav a
{
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 500;
    color: white;
    padding: 0 20px;
}

nav li:hover
{
    border-top: 6px solid whitesmoke;
}*/

.welcome
{
    margin: 0 auto;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) 70%), url(../images/welcomebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.welCont
{
    margin: 0 auto;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
}

main .text
{
    width: 100%;
    height: 250px;
    text-align: center !important;
}

.welcome .welCont .text h1
{
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: white;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 10px;
    -webkit-text-fill-color: orangered;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.welcome .welCont .text h1 span
{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: orangered;
}

.welcome .welCont .text .btn
{
    border: 2px solid orangered;
    border-radius: 8px;
    font-family: 'Berkshire Swash', cursive;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    background: transparent;
}

.welcome .welCont .text .btn:hover
{
    background-color: orangered;
    opacity: 1;
    transition: all ease-in-out 500ms;
}
/* END OF INTRO SECTION */

/* START OF INFO SECTION */
main #info
{
    border-top: 3px solid orangered;
    color: white;
    font-family: 'Berkshire Swash', cursive;
    background: rgba(247, 101, 4, 0.3);
}

main .row
{
    text-align: center;
    margin: auto;
}

.container .mid
{
    border-left: 3px solid orangered;
    border-right: 3px solid orangered;
}

main .icon
{
    width: 125px;
    height: 125x;
    border-radius: 50%;
    border: 5px solid orangered;
    margin: 20px;
}

main .row p
{
    margin: 0 auto;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-size: 17px;
}
/* END OF INFO SECTION */



/* PRODUCTS PAGE */

.products
{
    /* width: 100%; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) 70%), url(../images/welcomebg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.products .text
{
    margin: 0 auto;
    width: 1100px;
    display: flex;
    align-items: center;
}

.products .text h1
{
    margin: 0 auto;
    font-family: "Berkshire Swash", cursive;
    font-size: 40px;
    color: orangered;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.mt-100 {
    margin-top: 100px;
}

.card {
    border-radius: 7px !important;
    border-color: 1px solid orangered;
}

.mb-30 {
    margin-bottom: 30px !important
}

.card-img-tiles {
    display: block;
    border-bottom: 1px solid #e1e7ec;
}

a {
    color: white;
    text-decoration: none !important
}

.card-img-tiles>.inner {
    display: table;
    width: 100%;
}

.card-img-tiles .main-img
{
    display: table-cell;
    width: 65%;
    vertical-align: middle;
}

.card-img-tiles .main-img>img:last-child
{
    margin-bottom: 0;
}

.card-img-tiles .main-img>img
{
    display: block;
    width: 100%;
    margin-bottom: 6px;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .45rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
/* PRODUCTS PAGE END */


/* ----------- Order page styling ----------- */
.crd 
{
  margin-bottom: 10px;
}
.card-image
{
  width: 335px;
  height: 250px;
  object-fit: cover;
}

.prodImg
{
    max-width: 100%;
    max-height: 100%;
    background: radial-gradient(orangered 30%, black 70%);
}


.fa-star,
.fa-star-half
{
    color: orangered;
    padding: 3% 0;
}

.orders
{
    border-top: 3px solid orangered;
    color: white;
    font-family: 'Berkshire Swash', cursive;
}

div .cards
{
    border: 2px double orangered;
    border-radius: 3px;
    background-color: transparent;
}
/* ----------- Order page styling ----------- */


/*---------------------- Login/Signup styling -----------------------*/
.limiter a 
{
    font-family: 'Berkshire Swash', cursive;
    font-size: 14px;
    line-height: 1.7;
    color: white;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.limiter a:focus {
    outline: none !important;
}

.limiter a:hover {
    text-decoration: none;
    color: orangered;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

.limiter p {
    font-family: 'Berkshire Swash', cursive;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

textarea::-webkit-input-placeholder { color: #fff;}
textarea:-moz-placeholder { color: #fff;}
textarea::-moz-placeholder { color: #fff;}
textarea:-ms-input-placeholder { color: #fff;}

label {
  margin: 0;
  display: block;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 13px;
  color: white;
  line-height: 1.5;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  
  background: url(../images/welcomebg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

.container-login100::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) 70%);
}

.wrap-login100 
{
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px 40px;
  border: 3px double orangered;
  border-radius: 3%;

  background: rgba(127, 34, 0, 0.4);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-logo {
  font-size: 60px; 
  color: white;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 2px double orangered;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}

.login100-form-title {
  font-family: 'Berkshire Swash', cursive;
  font-size: 22px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;

  display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255, 69, 0, 0.5);
  margin-bottom: 30px;
}

.input100 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: orangered;
}

.focus-input100::after {
  font-family: FontAwesome;
  font-size: 22px;
  color: orangered  ;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus {
  padding-left: 5px;
}

.input100:focus + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -22px;
  font-size: 18px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

.has-val.input100 {
  padding-left: 5px;
}


/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
}

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f26b";
  font-family: 'Berkshire Swash', cursive;
  font-size: 15px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: orangered;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  font-family: 'Berkshire Swash', cursive;
  font-size: 16px;
  color: white;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 120px;
  height: 50px;
  border: 1px solid orangered;
  border-radius: 25px;

  background: #e53e00;
  background: -webkit-linear-gradient(bottom, #cc3700, #b23000);
  background: -o-linear-gradient(bottom, #cc3700, #b23000);
  background: -moz-linear-gradient(bottom, #cc3700, #b23000);
  background: linear-gradient(bottom, #cc3700, #b23000);
  position: relative;
  z-index: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #7f2200;
  top: 0;
  left: 0;
  opacity: 1;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  color: #fff;
}

.login100-form-btn:hover:before {
  opacity: 0;
}

/* CART STYLING */
section
{
  background-color: rgba(247, 101, 4, 0.3);
  border-top: 3px solid orangered;
}

.list-group>.list-group-item
{
  background-color: transparent;
}

.cart
{
  color: white;
}

/* START OF FOOTER */
.page-footer
{
  background-color: rgba(247, 101, 4, 0.3);
  font-family: 'Berkshire Swash', cursive;
  color: white;
  text-decoration: none;
  border-top: 3px solid orangered;
}

.page-footer .container .logo img
{
    width: 100%;
    height: 100%;
}

.page-footer .container li
{
    color: white;
    font-family: "Berkshire Swash", cursive;
    font-size: 18px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

.page-footer .container .fas, .fab
{
    display: inline;
    color: orangered;
    padding-right: 5px;
}

.page-footer .container .row .socials
{
    display: inline-block;
}

.page-footer .footer-copyright
{
    background-color: rgba(247, 101, 4, 0.4);
    text-decoration: none;
    color: white;
}
/* END OF FOOTER */
